.col-20 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    flex-grow: 0;
    width: 33.3333%;
    min-width: 33.3333%;
}

div{
    min-height: 80px;
}

@media (min-width: 576px) {
    .col-20 {
        flex-grow: 0;
        width: 25%;
        min-width: 25%;
        max-width: 25%;
    }
}
@media (min-width: 768px) {
    .col-20{
        flex-grow: 1;
        width: 33.3333%;
        min-width: 33.3333%;
        max-width: 33.3333%;
    }
}
@media (min-width: 992px) {
    .col-20 {
        flex-grow: 1;
        width: 25%;
        min-width: 25%;
        max-width: 25%;
    }
}

@media (min-width: 1200px) {
      .col-20 {
         flex-grow: 1;
         width: 20%;
         min-width: 20%;
          max-width: 20%;
        }
    }